/* 	Copyright Adam Gedney 12/2/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo


/*Baseline Grid*/
/*    3px    */
 
/*----Sass Palette----*/
$black: #101010;
$rich-black: #000;
$light-grey: #d0d0d0;
$mid-grey: #363636;
$grey: #7f7f7f;
$dark-grey: #131313;
$bg-grey: #171717;
$white: #e6e6e6;
$blue: #1e89b1;
$purple: #AB14B4;
$red: #cd241b;
$dark-red: #490406;

/*----Sass imports----*/
@import "reset";
@import "defaults";



@mixin duration($time: .7s){
		transition-duration: $time;
-webkit-transition-duration: $time;
}



/*-----------------------Styles------------------------*/


video{
	width: 100%;
	overflow: hidden;
	position: fixed;
  	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1000;
}

#loading{
	width: 400px;
	height: 150px;
	padding-top: 18px;
	text-align: center;
	margin: 8% auto;
	font-weight: 700;
	font-size: 1.8em;
	background: rgba(19,19,19, 0.8);
	border-radius: 2px; 
}

#vid-button{ 
	color: $white;
	font-size: 2.1em;
	font-weight: 100;
	display: inline-block;
	position: absolute;
	bottom: 105px;
	left: 44%;
	right: 44%;
	width: 150px;
	text-align: center;
	text-shadow: 1px 1px 1px $dark-grey;
	outline: none;
}


.form-wrapper{
	width: 300px;
	height: 400px;
	position: absolute;
	bottom: 0;
	left: 39%;
	right: 39%;
	background: rgba(19,19,19, 0.8);
	z-index: -1;
	padding: 18px;
	overflow: hidden;
	border-radius: 2px;

	input[type=text]{
		width: 264px;
		height: 35px;
		border-radius: 2px;
		border: none;
		outline: none;
	}

	button, #form-submit{
		appearance: none;
		-webkit-appearance: none;
		background: $blue;
		color: $white;
		border: none;
		height: 35px;
		width: 176px;
		display: block;
		margin: 18px auto 0;
		outline: none;
		font-size: 1.8em;
		font-weight: 100;
	}
}

#upload-drop{
	outline: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	margin-top: 82px;
	height: 108px;
	line-height: 126px;
	text-align: center;
	padding-top: 60px;
	padding-left: 9px;
	vertical-align: bottom;
}

.drop-area{
	width: 100%;
	height: 126px;
	border: 5px dashed $grey;
	border-radius: 5px;
	position: relative;
}

.drop-inst{
	font-size: 1.2em;
	color: $grey;
}

#upload-success{
	float: right;
	margin-top: -32px;
}

.close-modal-x, .close-list-x, .close-desc-x{
	position: absolute;
	right: 0;
	top: 0;
	margin: 6px 6px 0 0;
}


.box{
	background: rgba(19,19,19, 0.8);
	width: 306px;
	height: 290px;
	border-radius: 2px;
	position: absolute;
	right: 2%;
	// bottom: 600;
	margin-top: -318px;// forces container over video
	display: inline-block;
	z-index: 100;
	padding: 18px;
}

.dl-list{
	ul{
		position: relative;

		li{
			// border-bottom: 1px solid $white;
			line-height: 36px;
			padding-top: 3px;
		}
	}

	h2{
		border-bottom: 1px solid $white;
		margin-bottom: 6px;
	}
}

.dl-list-reel{
	margin-right: 9px;
}

.dl-list-icon{
	// float: right;
	position: absolute;
	right: 0;
-webkit-transform:scale(0.7);
       -moz-transform:scale(0.7);
         -o-transform:scale(0.7);
}

p img.dl-list-icon{
	margin-right: 18px; //HACK - moves bottom cloud in where it exceded padding somehow.
}

.dl-list:after, .desc:after{
	content: "";
	width: 28px;
	height: 28px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: -28px;
	margin-right: 45px;
	opacity: .85;
	background: url(../images/slice.png) no-repeat ;
}

.desc{
	p{
		border-top: 1px solid $white;
		padding-top: 24px;
		line-height: 1.2em
	}
}

.desc:after{
	margin-right: 95px;
}




footer{
	opacity: .9;
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 18px;
	background: url(../images/logo.png) no-repeat $dark-grey;

-webkit-box-shadow: 0px -3px 5px 0px rgba(37,37,37,0.67);
   -moz-box-shadow: 0px -3px 5px 0px rgba(37,37,37,0.67);
		box-shadow: 0px -3px 5px 0px rgba(37,37,37,0.67);

}

.footer-inner{
	overflow: hidden;
	height: 100%;
}

#video-controls{
	float: left;
	height: 100%;/*50px*/
	// width: 400px;
	width: 33.33333%;
	padding-top: 24px;
	border-right: 1px solid $grey;

	p{
		display: inline-block;
		line-height: 50px;
		vertical-align: top;
		margin-left: 9px;
	}
}

#play-pause{
	outline: none;
	@include duration(.2s);
	background: none;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	width: 33px;
	height: 50px;
	font-size: 0;
	text-indent: -200%;
	overflow: hidden;

	background: url(../images/play.png) no-repeat;
}

/*style the range sliders*/
input[type=range]{
	-webkit-appearance: none;
	appearance: none;
	height: 1px;
	width: 250px;
	margin-bottom: 40px;
	vertical-align: middle;
	background: $black;
	// border-top: 1px solid $white;
	opacity: .5;
	outline: none;
}

input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;  
    background-color: #444;  
    width: 14px;  
    height: 14px; 
    border-radius: 20px; 
    border: 1px solid $white; 
}  


.clip-container{
	display: inline-block;
	text-align: center;
	height: 100%;
	width: 33%;
	margin: 0 auto;
	// overflow: hidden;
	// clear: both;
}

#clips{
	display: inline-block;
	text-align: center;
	padding-top: 6px;
	margin: 9px auto 0;
	width: 255px;
	overflow: hidden;
	white-space: nowrap;

	
}

#slider{

	img{
		display: inline;
		max-width: 83px;
		margin-right: 3px;
		-webkit-transform:scale(0.7);
           -moz-transform:scale(0.7);
             -o-transform:scale(0.7);
        vertical-align: bottom;
        
	}

	img:nth-child(2n){
		-webkit-transform:scale(1);
           -moz-transform:scale(1);
             -o-transform:scale(1);
	}
}

#video-scroll{
	display: block;
	width: 250px;
	margin: 12px auto 0;
}

.info{
	border-left: 1px solid $grey;
	float: right;
	width: 33.33333%;
	height: 100%;
	overflow: hidden;
	padding-top: 18px;
}

.shots{
	display: inline-block;
	text-align: center;
	float: right;

	img{
		max-width: 83px;
		margin-right: 3px;
		// padding-top: 18px;
	}
}

.footer-icons{
	display: inline-block;
	margin: 0 18px;
	float: right;
	padding-top: 18px;
}

/*--------------------------------Media Queries------------------------*/
/*
*/
/*--------------------------------Media Queries------------------------*/





/* Smartphones  ----------- */
@media only screen 
and (min-width : 480px) {

}













/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 750px) {

}/*min-width 750*/









//adjusts header nav after JS removes slide in menu
@media only screen 
and (min-width : 769px) {


}









/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 837px) {

}



@media only screen 
and (min-width : 960px) {

}



/* Desktops ---------------------- */
@media only screen 
and (min-width : 1140px) {

}






/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}





/*----Sass imports----*/
@import "lightbox";










