/* 	Copyright Adam Gedney 12/2/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo


/*Baseline Grid*/
/*    3px    */

/*----Sass Palette----*/
$black: #101010;
$rich-black: #000;
$light-grey: #d0d0d0;
$mid-grey: #363636;
$grey: #7f7f7f;
$dark-grey: #252525;
$bg-grey: #171717;
$white: #e6e6e6;
$blue: #1e89b1;
$purple: #AB14B4;
$red: #cd241b;
$dark-red: #490406;

/*----Sass imports----*/
@import "reset";
@import "defaults";







/*-----------------------Styles------------------------*/
.menu-button{
	display: inline-block;
	opacity: .8;
	float: right;
	padding: 15px 2% 0;
	position: relative;
	z-index: 1110000;
}


header{
	border-top: 3px solid $dark-red;
	overflow: hidden;
	background: $rich-black;

	-webkit-box-shadow: 2px 2px 3px $rich-black;
	   -moz-box-shadow: 2px 2px 3px $rich-black;
			box-shadow: 2px 2px 3px $rich-black;
	

	h1{
		display: inline-block;
		text-align: center;
		font-size: 4.2em;
		padding-left: 2%;
		color: $white;
		line-height: 63px;
	}

	nav{
		position: absolute;
		width: 100%;
		z-index: 9999;
		ul{
			li{
				height: 44px;
				background: $rich-black;
				border-top: 1px solid $dark-grey;
				text-align: center;

				:hover{
					color: $red;
				}

				a{
					color: $white;
					line-height: 44px;
					font-size: 1.8em;
				}
			}
		}
	}
}

.landing{
	width: 100%;
	padding-bottom: 54px;
	overflow: hidden;
	
	.page-inner{
		padding: 0;

	}
}

/* ----------------Landing page scene----------------*/


.scene{
	min-height: 330px;
	position: relative;
	margin-top: 18px;
	margin-bottom: 0;

	img{
		position: absolute;
		top: 0;
		display: block;
		height: auto;
	}
}

#curtain-wrapper{
	width: 100%;
	min-width: 837px;
	min-height: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
}


#curtain-left, #fog-left{
	position: absolute;
	left: 0;
}

#curtain-right, #fog-right{
	position: absolute;
	right: 0;
}

#curtain-center{
	position: absolute;
	z-index: -1;
	display: block;
	min-width: 100%;
	min-height: 620px;
	margin: 0 auto;
	background: url(../images/scene/8c-curtainCenter.png) repeat;
}

img#center-fog{
	/*inherits position absolute*/
	width: 100%;
	left: 0;
	right: 0;
}

.chandelier{
	width: 100%;
	margin: -120px auto 0; //negative margin used to make rotation of div
	position: absolute;
	top: 0;

}

//css swing taken from
//http://iamdavesmith.com/swinging-an-element-using-css3-transitions-and-a-smidgen-of-jquery/
.swing {
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
	-ms-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
	-moz-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
}
 
.right {
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
}

.light{
	z-index: 9999;
}


/*-------------End scene---------------*/
.page{
	padding: 2% 0;

	-webkit-box-shadow: -2px -2px 5px $rich-black;
	   -moz-box-shadow: -2px -2px 5px $rich-black;
			box-shadow: -2px -2px 5px $rich-black;
}

.page:nth-child(odd){
	background: $bg-grey;
	-webkit-box-shadow: inset 2px 2px 5px $rich-black;
	   -moz-box-shadow: inset 2px 2px 5px $rich-black;
			box-shadow: inset 2px 2px 5px $rich-black;
}

.page-inner{
	padding: 0 6%;

}

.ornament{
	display: block;
	width: 150px;
	max-height: 19px;
	margin: -18px auto 18px;
	text-align: center;
	position: relative;
	z-index: 99998;
}

h2{
	font-size: 6.3em;
	line-height: .8em;
	margin-top: 72px;
	margin-bottom: 18px;
	text-align: center;
}

.line-sep{
	display: inline-block;
	height: 18px;
	width: 100%;	
}

.photos{
	padding-bottom: 54px;
}

.picasagallery img{
	-webkit-box-shadow: 2px 2px 5px $rich-black;
	   -moz-box-shadow: 2px 2px 5px $rich-black;
			box-shadow: 2px 2px 5px $rich-black;
}

.video-links{
	padding-bottom: 36px;
}

ul.video-links li a{
	display: block;
	font-size: 2.1em;
	margin: 15px auto;
	text-align: center;
	text-decoration: underline;
}

.videos{

	.video-content{
		overflow: hidden;
	}

	.video-wrapper{
		float: left;
		margin-right: 2%;

		iframe{
		display: inline-block;
		text-align: center;
		width: 420px;
		height: 315px; 
		}

		h3{
			text-align: center;
			margin-top: 9px;
			margin-bottom: 36px;
		}
	}
}

/*picasa thumb display __used for static image display__*/
// .picasa{
// 	img{
// 		max-width: 320px;
// 		margin: 0 2% 2%;
// 	}
// }

/*picasa slideshow*/
.picasa-wrapper{
	position: relative;
	// z-index: 5000;
	width: 245px;
	margin: 0 auto 72px;
	height: 180px;
	overflow: hidden;

	img#prevbtn{
		display: none;
	}

	img#nextbtn{
		display: none;
	}
}

.picasagallery{
	height: 200px;
	clear: both;
	width: 280px;
	margin: 0 auto;

	.pic{
		width: 245px;
		display: inline-block;
		text-align: center;
	}

}


/*---------------- Contact form----------------*/
.form{
	width: 294px;
	margin: 0 auto 72px;

	form{
		width: 294px;
		margin: 0 auto;
		overflow: hidden;
	}

		input, textarea{
			width: 294px;
			height: 45px;
			border: none;
			padding: 3px;
			border-radius: 2px;
			display: inline;
			margin-bottom: 12px;
			float: right;
			font-size: 1.8em;
		}

		textarea{
			height: 198px;
		}

		input[type=submit]{
			background: none;
			border: none;
			border-radius: 0;
			background: $blue;
			color: $white;
			clear: both;
			height: 45px;
			font-size: 1.8em;
			float: left;
			margin-top: 18px;
		}

		label{
			margin-bottom: 0;
			font-size: 1.8em;
			line-height: 1.6em;
			color: $light-grey;
			font-weight: 400;
			display: inline;
			text-align: right;
			float: left;
		}
	}

.contact-info{
	display: none;
}

footer{
	background: $rich-black;
	height: 54px;
	padding-left: 2%;
	overflow: hidden;

	h1{
		font-size: 2.1em;
		line-height: 54px;
		display: inline-block;
		width: 150px;
		float: left;
	}

	nav{
		display: none;
	}

	p{
		font-size: 1.2em;
		line-height: 54px;
		display: inline-block;
		width: 175px;
		float: right;
	}
}





/*--------------------------------Media Queries------------------------*/
/*
*/
/*--------------------------------Media Queries------------------------*/





/* Smartphones  ----------- */
@media only screen 
and (min-width : 480px) {


.landing{
	min-height: 500px;
}

#center-fog{
	img{
		height: 100%;
	}
}

.chandelier{
	height: auto;
	margin: -200px auto 0;
}

.ornament{
	margin: -21px auto 18px;
}

/*picasa slideshow*/
.picasa-wrapper{
	width: 320px;
	margin: 0 auto;
	height: 250px;
}

.picasagallery{
	height: 250px;
	width: 300px;
	margin: 0 auto;

	.pic{
		width: 500px;
	}
}

.video-content{
	width: 410px;
	margin: 0 auto;
}
}






/*-------tweak page height & chand-------*/
@media only screen 
and (min-width: 580px) {

.landing{
	min-height: 600px;
}

.chandelier{
	height: auto;
	margin: -250px auto 0;
}
}







/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 750px) {

.page:nth-child(odd){
	background: url(../images/zwartevilt.png) $bg-grey;
}

.ornament{
	margin: -27px auto 18px;
}

/*picasa slideshow*/
.picasa-wrapper{
	position: relative;
	width: 620px;
	margin: 0 auto;
	height: 400px;
	overflow: hidden;

	img#prevbtn{
		opacity: .8;
		position: absolute;
		left: 0;
		margin-top: 160px;
		display: inline-block;
		float: left;
	}

	img#nextbtn{
		opacity: .8;
		position: absolute;
		right: 0;
		margin-top: 160px;
		display: inline-block;
		float: right;
	}
}

.picasagallery{
	height: 300px;
	clear: both;
	width: 500px;
	margin: 0 auto;

	.pic{
		width: 500px;
		display: inline-block;
		text-align: center;
	}
}

.contact .page-inner{
	width: 770px;
	margin: 0 auto;
}

.form{
	float: left;
}

.contact-info{
	display: block;
	float: right;
	width: 225px;
	margin: 18px 0 0 80px;

	a{
		font-size: 3em;
		font-family: 'Tangerine', cursive;
	}
}


footer{
	p{
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		display: block;
		height: 54px;
	}
}
}/*min-width 750*/









//adjusts header nav after JS removes slide in menu
@media only screen 
and (min-width : 769px) {

.landing{
	min-height: 730px;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}

header, footer{

	h1{
		float: left;
	}

	nav{
		position: relative;
		display: inline-block;
		float: right;
		padding-right: 18px;
		padding-top: 18px;
		width: 300px;

		ul{
			li{
				display: inline-block;
				height: 44px;
				text-align: center;
				margin-right: 4%;
				border: none;

				:hover{
					color: $red;
				}

				a{
					font-size: 2.1em;
				}
			}
		}
	}
}


footer{
	nav{
		ul{
			li{
				a{
					font-size: 1.6em;
					color: $white;
				}
			}
		}
	}
}
.menu-button{
	display: none;
}

}









/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 837px) {

.scene{
	margin-top: 60px;
}

.scene-inner{
	position: absolute;
	height: 720px;
	left: 0;
	right: 0;
	top: 0;

}

.chandelier{
	width: 862px;
	height: 620px;
	margin: -235px auto 0;
	position: absolute;

}

#curtain-wrapper{
	display: block;
}

img#center-fog{
	height: 620px;
}

.page{
	padding-top: 108px;
	padding-bottom: 108px;
}

.landing.page{
	padding-top: 18px;
	padding-bottom: 0;
}

.ornament{
	margin: -117px auto 90px;
}

.bio{
	.two-col {
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
	}
}

.videos{

	.video-content{
		width: 720px;
		margin: 0 auto;
	}

	.video-wrapper{
		float: left;
		

		iframe{
		width: 320px;
		height: 233px; 
		}
	}

	.video-wrapper:nth-child(odd){
			margin: 0 4%;
		}
}
}



@media only screen 
and (min-width : 960px) {

.scene-inner{
	left: 10%;
	right: 10%;
}
}



/* Desktops ---------------------- */
@media only screen 
and (min-width : 1140px) {

.scene-inner{
	left: 15%;
	right: 15%;
}

.videos{
	.video-content{
		width: 990px;
		margin: 0 auto;
	}

	.video-wrapper{
		float: left;
		

		iframe{
		width: 310px;
		height: 223px; 
		}
	}

	.video-wrapper:nth-child(odd){
			margin: 0 1%;
		}

	.video-wrapper:nth-child(even){
			margin: 0 1%;
		}
}
}






/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}





/*----Sass imports----*/
@import "lightbox";










