<div>








<script type="text/x-handlebars-template" id="site">

			

			<div class="form-wrapper">
				<img class="close-modal-x" src="images/x.png" alt="close modal icon" />

				<h2>Drop .mp4 Video File Here</h2>
				<p class="drop-inst">Click box if your browser doesn't support dropping</p>

				<div class="drop-area">
				</div><!-- /.drop-area-->
				<form action="?action=upload" id="file-upload-form" method="post" enctype="multipart/form-data">
					<input type="file" id="upload-drop" name="file" accept="video/mp4"/>
					<input type="submit" id="form-submit" value="Add Video File"/>
				</form>

				<img id="upload-success" src="images/check.png" alt="successful upload icon" />
			</div><!-- /.form-wrapper-->






			<footer>

				<div class="dl-list box">
					<img class="close-list-x" src="images/x.png" alt="close modal icon" />

					<h2>Video Downloads</h2>
					<ul id="file-list">
						
					</ul>

					<h2>Audio Download</h2>
					<p id="audio-dl"></p>
				</div><!-- /.dl-list-->





				<div class="desc box">
					<img class="close-desc-x" src="images/x.png" alt="close modal icon" />

					<div id="desc-content">
					</div><!-- /#desc-content-->
				</div><!-- /.desc -->







				<div class="footer-inner">

					<!-- Video Controls -->
					<div id="video-controls">
						<button type="button" id="play-pause"></button>
						<input type="range" id="seek-bar" min="0">

						<p id="time-display" ></p>
					</div><!-- /#video-controls -->



					<div class="clip-container">



						<!-- screenshot center video thumbnails placed here dynamically-->
						<div id="clips">
							<div id="slider">
							</div><!-- /#slider-->
						</div><!-- /#clips -->

						<input type="range" id="video-scroll" value="0">

					</div><!-- /.clip-container -->




					<div class="info">

						<div class="footer-icons">
							<a href="#" id="info-btn" ><img src="images/info.png" alt="info-icon"/></a>
							<a href="#" id="dl-btn" ><img src="images/cloud.png" alt="download-icon"/></a>
						</div><!-- /.footer-icons-->

						<div class="shots">
							
						</div><!-- /.shots-->


					</div><!-- /.info-->
				</div><!-- /.footer-inner-->
			</footer>

</script>

</div>